{% extends 'base.html' %}

{% block content %}
    <form method="POST" action="{{ url_for('handle_search') }}">
      <div class="mb-3">
          <input type="text" class="form-control" name="query" id="query" placeholder="Enter your search query" value="{{ query }}" autofocus>
      </div>
    </form>
    {% if results %}
        <div class="row mb-3">
            <div class="col-2 mt-2">
                <p><a href="javascript:history.back(1)">← Back</a></p>
                {% for agg in aggs %}
                    <h6 class="mt-3">{{ agg }}</h6>
                    {% for key, count in aggs[agg].items() %}
                        <form method="POST">
                            <input type="hidden" name="query" value="{{ agg|lower }}:{{key}} {{ query }}">
                            <button type="submit" class="btn btn-link btn-sm"{% if aggs[agg]|length == 1 %} disabled{% endif %}>{{ key }} ({{ count }})</button>
                        </form>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="col-10">
                <div class="row mb-3">
                    <div class="col-sm-auto my-auto">
                        Showing results {{ from_ + 1 }}-{{ from_ + results|length }} out of {{ total }}.
                    </div>
                    {% if from_ > 0 %}
                        <div class="col-sm-auto my-auto">
                            <a href="javascript:history.back(1)" class="btn btn-primary">← Previous page</a>
                        </div>
                    {% endif %}
                    {% if from_ + results|length < total %}
                        <div class="col-sm-auto my-auto">
                            <form method="POST">
                                <input type="hidden" name="query" value="{{ query }}">
                                <input type="hidden" name="from_" value="{{ from_ + results|length }}">
                                <button type="submit" class="btn btn-primary">Next page →</button>
                            </form>
                        </div>
                    {% endif %}
                    <div class="col"></div>
                </div>

                {% for cluster in clusters %}
                <h5 class="mt-3">{{ cluster }}</h5>
                {% for key, count in clusters[cluster].items() %}
                <a href="{{ url_for('get_cluster', cluster_id=key, search_term=query) }}">
                    <input type="hidden" name="query" value="{{ agg|lower }}:{{key}} {{ query }}">
                    <button type="submit" class="btn btn-lg btn-link{% if clusters[cluster]|length == 1 %} disabled{% endif %}">Cluster {{ key }} | Record Count: ({{ count }})</button><br>
                </a>
                    {% set cluster_results = results|selectattr('_source.cluster', 'eq', key)|list %}
                    {% set open_cluster_results = cluster_results|selectattr('_source.open', 'eq', 'true') %}
                    {% for result in open_cluster_results %}
                        {% if loop.first %}
                            <p>
                                
                                <br><b>Source: </b>{{ result._source.source }}
                                <br><b>Date: </b> {{ result._source.date  }}.
                                <br><b>Text:</b> {{ result._source.text | replace(query, "<strong>" + query + "</strong>")|safe }}. <br>
                            </p>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
                
                    <!-- {% for result in results %}
                    <p>
                        {{ from_ + loop.index }}. <b><a href="{{ url_for('get_document', id=result._id, search_term=query) }}">{{ result._source.source }}</a></b> -->
                        <!-- <br> -->
                        <!-- {% if result._source.page_thumb %}
                                 <img src="{{ result._source.page_thumb }}" alt="Thumbnail">
                        {% endif %} -->
                        <!-- <br> -->
                        <!-- <small>
                            <br><b>Cluster:</b> <a href="{{ url_for('get_cluster', cluster_id=result._source.cluster, search_term=query) }}"> {{ result._source.cluster }}</a>
                            <br><b>Date:</b> {{ result._source.date  }}.
                            {% if result._score %}
                            {% if result._source.open == "true" %}
                            <br><b>Text:</b> {{ result._source.text | replace(query, "<strong>" + query + "</strong>")|safe }}. 
                            <br><i>(<b>Score:</b> {{ result._score }})</i>{% endif %}{% endif %}
                        </small>
                    </p>
                {% endfor %} -->
            </div>
        </div>
    {% elif request.method == 'POST' %}
        <p>No results found.</p>
    {% endif %}
{% endblock %}
