{% extends 'base.html' %}

{% block content %}
<form method="POST" action="{{ url_for('handle_search') }}">
    <div class="input-group mb-3">
      <input type="text" class="form-control" name="query" id="query" placeholder="Enter your search query" value="{{ query }}" autofocus>
      <input type="hidden" name="from_" value="0">
      <button class="btn btn-outline-secondary" type="submit">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </form>
    {% if clusters %}
        <div class="row mb-3">
            <div class="col-2 mt-2">
                <p><a href="javascript:history.back(1)">← Back</a></p>

                {% for agg in aggs %}
                    <h6 class="mt-3">{{ agg }}</h6>
                    {% for key, count in aggs[agg].items() %}
                    {% if agg|lower == 'location' %}
                    <form method="POST">
                        <input type="hidden" name="query" value="{{ agg|lower }}:'{{ key }}' {{ query }}">
                        <button type="submit" class="btn btn-link btn-sm"{% if aggs[agg]|length == 1 %} disabled{% endif %}>{{ key }} ({{ count }})</button>
                    </form>
                    {% endif %}
                    {% if agg|lower == 'year' %}
                    <form method="POST">
                        <input type="hidden" name="query" value="{{ agg|lower }}:{{ key }} {{ query }}">
                        <button type="submit" class="btn btn-link btn-sm"{% if aggs[agg]|length == 1 %} disabled{% endif %}>{{ key }} ({{ count }})</button>
                    </form>
                    {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="col-10">
                <div class="row mb-3">
                    <div class="col-sm-auto my-auto">
                        Showing results {{ from_ + 1 }}-{{ from_ + clusters_results|length }} out of {{ cluster_aggregation['Cluster'] | length }}.
                    </div>
                    {% if from_ > 0 %}
                        <div class="col-sm-auto my-auto">
                            <a href="javascript:history.back(1)" class="btn btn-primary">← Previous page</a>
                        </div>
                    {% endif %}
                    {% if from_ + clusters_results|length < cluster_aggregation['Cluster'] | length %}
                        <div class="col-sm-auto my-auto">
                            <form method="POST" action="{{ url_for('handle_search') }}">
                                <input type="hidden" name="query" value="{{ query }}">


                                <input type="hidden" name="from_" value="{{ from_ + 20 }}">
                                <button type="submit" class="btn btn-primary">Next page →</button>
                            </form>
                        </div>
                    {% endif %}
                

                {% for cluster_name, cluster_data in clusters.items() %}
                    <!-- <h5 class="mt-3">{{ clusters }}</h5> -->
                    <div class="col d-flex justify-content-end">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Sort By
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" onclick="sortClusterByDate('{{ cluster_name.replace(' ', '_') }}', 'min_date')">Min Date</a>
                            <a class="dropdown-item" onclick="sortClusterByDate('{{ cluster_name.replace(' ', '_') }}', 'max_date')">Max Date</a>
                            <a class="dropdown-item" onclick="sortClusterByDocCount('{{ cluster_name.replace(' ', '_') }}', 'max_date')">Matching Items</a>

                        </div>
                      </div>
                    </div>
                    </div>
                    <hr style="border-width: 2px;">
                    <div id="{{ cluster_name.replace(' ', '_') }}_clusters">
                        
                        {% for k, data in clusters_results.items() %}
                        
                        {% for entry in data %}
                        {% if loop.first %}
                            <!-- {% set doc_count = entry.doc_count %} -->
                            {% set open = entry.open %}                            
                            {% set total_cluster_size = entry.doc_count %}
                            {% set min_date = entry.min_date %}
                            {% set max_date = entry.max_date %}
                            {% set matching_doc_count = entry.count %}

                            {% set cluster_size = cluster_aggregation['Cluster'] %}

                            {% set sorted_cluster = sorted_cluster %}

                            

<!-- 
                            <ul>
                                {% for cluster_id, cluster_data in sorted_cluster %}
                                    <li>Cluster ID: {{ cluster_id }} - Doc Count: {{ cluster_data['doc_count'] }}</li>
                                {% endfor %}
                            </ul> -->
                            
                            <div data-doc-count="{{cluster_size[k]['doc_count']}}">
                            <a href="{{ url_for('get_cluster', cluster_id=k, search_term=query) }}">
                                <div class="d-flex justify-content-between align-items-center">

                                    <h5 class="mb-0">{{ total_cluster_size }} reprints from {{ min_date }} to {{ max_date }}</h5> </a>
                                    <p class="mb-0"><b>Reprints matching search query:</b> {{ matching_doc_count }}</p>
                             </div> 
                           

                                        <p style="margin-top: 0rem;">
                                            
                                            <b>Source:</b> {{ entry.source }}
                                            <br><b>Date:</b> {{ entry.date }}
                                            {% if entry.highlight and open == "true" %}
                                            <br><b>Text:</b> 
                                            {{ entry.highlight.text | first | replace("\xad", "") | replace("\n", "<br>") | safe }}                                            
                                            {% elif entry.highlight and open == "false" %}
                                            <br><b>Text:</b> All witnesses in this cluster come from a proprietary database and cannot be displayed.
                                        {% endif %}
                                        </p>

                                    {% endif %}


                                {% endfor %}
                                <hr >

                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                {% if from_ + clusters_results|length < cluster_aggregation['Cluster'] | length %}
                <div class="col-sm-auto my-auto text-right">
                    <form method="POST" action="{{ url_for('handle_search') }}">
                        <input type="hidden" name="query" value="{{ query }}">

                        <input type="hidden" name="from_" value="{{ from_ + 20 }}">
                        <button type="submit" class="btn btn-primary">Next page →</button>
                    </form>
                </div>
            {% endif %}
            </div>
        </div>
    {% elif request.method == 'POST' %}
        <p>No results found.</p>
    {% endif %}
    

    <script>

function sortClusterByDate(clusterId, dateType) {
    const clusterContainer = document.querySelector(`#${clusterId}_clusters`);
    const clusters = Array.from(clusterContainer.children);

    clusters.sort((a, b) => {
        const dateA = new Date(a.getAttribute(`data-${dateType}`));
        const dateB = new Date(b.getAttribute(`data-${dateType}`));

        if (dateType === 'max_date') {
            return dateB - dateA; 
        } else {
            return dateA - dateB; 
        }
    });

    clusterContainer.innerHTML = ''; 
    clusters.forEach(cluster => clusterContainer.appendChild(cluster));
}

function sortClusterByDocCount(clusterId) {
    const clusterContainer = document.querySelector(`#${clusterId}_clusters`);
    const clusters = Array.from(clusterContainer.children);

    clusters.sort((a, b) => {
        const countA = parseInt(a.getAttribute('data-doc-count'), 10);
        const countB = parseInt(b.getAttribute('data-doc-count'), 10);
        return countB - countA; 
    });

    clusterContainer.innerHTML = ''; 
    clusters.forEach(cluster => clusterContainer.appendChild(cluster)); 
}
    </script>
    
    
{% endblock %}
